html {
    font-size: var(--vh, 9.7px);
    
    --blue: #00ADEF;
    --blueHover: #0b7dda;
    --blueActive: rgb(128, 196, 221);

    --green: #4CAF50;
    --greenHover: #46a049;
    --greenActive: rgb(141, 209, 143);

    --orange: #ff9800;
    --orangeHover: #e68a00;
    --orangeActive: #e9ac51;

    --red: #f44336;
    --redHover: #da190b;
    --redActive: #ee5247;

    --black: #555555;
    --blackHover: #3b3b3b;
    --blackActive: #838383;

    --default: #d4d3d3;
    --defaultHover: #c7c3c3;
    --defaultActive: #a0a0a0;
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    vertical-align: top;
}

.no-select {
    /*Para evitar que el texto de adentro pueda ser seleccionado*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */  
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Opera and Firefox */ 
}

body { min-height: 100rem; }

/* ====================================== */

.vh-1-24 { height: 4.1667rem; }
.vh-2-24 { height: 8.3333rem; }
.vh-3-24 { height: 12.5rem; }
.vh-4-24 { height: 16.6667rem; }
.vh-5-24 { height: 20.8333rem; }
.vh-6-24 { height: 25rem; }
.vh-7-24 { height: 29.1667rem; }
.vh-8-24 { height: 33.3333rem; }
.vh-9-24 { height: 37.5rem; }
.vh-10-24 { height: 41.6667rem; }
.vh-11-24 { height: 45.8333rem; }
.vh-12-24 { height: 50rem; }
.vh-13-24 { height: 54.1667rem; }
.vh-14-24 { height: 58.3333rem; }
.vh-15-24 { height: 62.5rem; }
.vh-16-24 { height: 66.6667rem; }
.vh-17-24 { height: 70.8333rem; }
.vh-18-24 { height: 75rem; }
.vh-19-24 { height: 79.1667rem; }
.vh-20-24 { height: 83.3333rem; }
.vh-21-24 { height: 87.5rem; }
.vh-22-24 { height: 91.6667rem; }
.vh-23-24 { height: 95.8333rem; }
.vh-24-24 { height: 100rem; }

.vh-1-12 { height: 8.3333rem; }
.vh-2-12 { height: 16.6666rem; }
.vh-3-12 { height: 24.9999rem; }
.vh-4-12 { height: 33.3332rem; }
.vh-5-12 { height: 41.6667rem; }
.vh-6-12 { height: 49.9999rem; }
.vh-7-12 { height: 58.3333rem; }
.vh-8-12 { height: 66.6666rem; }
.vh-9-12 { height: 74.9999rem; }
.vh-10-12 { height: 83.3333rem; }
.vh-11-12 { height: 91.6667rem; }
.vh-12-12 { height: 100rem; }

.vh-1-10 { height: 10rem; }
.vh-2-10 { height: 20rem; }
.vh-3-10 { height: 30rem; }
.vh-4-10 { height: 40rem; }
.vh-5-10 { height: 50rem; }
.vh-6-10 { height: 60rem; }
.vh-7-10 { height: 70rem; }
.vh-8-10 { height: 80rem; }
.vh-9-10 { height: 90rem; }
.vh-10-10 { height: 100rem; }

.vh-1-8 { height: 12.5rem; }
.vh-2-8 { height: 25rem; }
.vh-3-8 { height: 37.5rem; }
.vh-4-8 { height: 50rem; }
.vh-5-8 { height: 62.5rem; }
.vh-6-8 { height: 75rem; }
.vh-7-8 { height: 87.5rem; }
.vh-8-8 { height: 100rem; }

.vh-1-6 { height: 16.6667rem; }
.vh-2-6 { height: 33.3333rem; }
.vh-3-6 { height: 50rem; }
.vh-4-6 { height: 66.6664rem; }
.vh-5-6 { height: 83.3333rem; }
.vh-6-6 { height: 100rem; }

.vh-1-5 { height: 20rem; }
.vh-2-5 { height: 40rem; }
.vh-3-5 { height: 60rem; }
.vh-4-5 { height: 80rem; }
.vh-5-5 { height: 100rem; }

.vh-1-4 { height: 25rem; }
.vh-2-4 { height: 50rem; }
.vh-3-4 { height: 75rem; }
.vh-4-4 { height: 100rem; }

.vh-1-3 { height: 33.3333rem; }
.vh-2-3 { height: 66.6667rem; }
.vh-3-3 { height: 100rem; }

.vh-1-2 { height: 50rem; }
.vh-2-2 { height: 100rem; }

.vh-1-1 { height: 100rem; }

/* ====================================== */

.min-vh-1-24 { min-height: 4.1667rem; height: 4.1667rem;}
.min-vh-2-24 { min-height: 8.3333rem; height: 8.3333rem;}
.min-vh-3-24 { min-height: 12.5rem; height: 12.5rem; }
.min-vh-4-24 { min-height: 16.6667rem; height: 16.6667rem; }
.min-vh-5-24 { min-height: 20.8333rem; height: 20.8333rem; }
.min-vh-6-24 { min-height: 25rem; height: 25rem; }
.min-vh-7-24 { min-height: 29.1667rem; height: 29.1667rem; }
.min-vh-8-24 { min-height: 33.3333rem; height: 33.3333rem; }
.min-vh-9-24 { min-height: 37.5rem; height: 37.5rem; }
.min-vh-10-24 { min-height: 41.6667rem; height: 41.6667rem; }
.min-vh-11-24 { min-height: 45.8333rem; height: 45.8333rem; }
.min-vh-12-24 { min-height: 50rem; height: 50rem; }
.min-vh-13-24 { min-height: 54.1667rem; height: 54.1667rem; }
.min-vh-14-24 { min-height: 58.3333rem; height: 58.3333rem; }
.min-vh-15-24 { min-height: 62.5rem; height: 62.5rem; }
.min-vh-16-24 { min-height: 66.6667rem; height: 66.6667rem; }
.min-vh-17-24 { min-height: 70.8333rem; height: 70.8333rem; }
.min-vh-18-24 { min-height: 75rem; height: 75rem; }
.min-vh-19-24 { min-height: 79.1667rem; height: 79.1667rem; }
.min-vh-20-24 { min-height: 83.3333rem; height: 83.3333rem; }
.min-vh-21-24 { min-height: 87.5rem; height: 87.5rem; }
.min-vh-22-24 { min-height: 91.6667rem; height: 91.6667rem; }
.min-vh-23-24 { min-height: 95.8333rem; height: 95.8333rem; }
.min-vh-24-24 { min-height: 100rem; height: 100rem; }

.min-vh-1-12 { min-height: 8.3333rem; height: 8.3333rem; }
.min-vh-2-12 { min-height: 16.6666rem; height: 16.6666rem; }
.min-vh-3-12 { min-height: 24.9999rem; height: 24.9999rem; }
.min-vh-4-12 { min-height: 33.3332rem; height: 33.3332rem; }
.min-vh-5-12 { min-height: 41.6667rem; height: 41.6667rem; }
.min-vh-6-12 { min-height: 49.9999rem; height: 49.9999rem; }
.min-vh-7-12 { min-height: 58.3333rem; height: 58.3333rem; }
.min-vh-8-12 { min-height: 66.6666rem; height: 66.6666rem; }
.min-vh-9-12 { min-height: 74.9999rem; height: 74.9999rem; }
.min-vh-10-12 { min-height: 83.3333rem; height: 83.3333rem; }
.min-vh-11-12 { min-height: 91.6667rem; height: 91.6667rem; }
.min-vh-12-12 { min-height: 100rem; height: 100rem; }

.min-vh-1-10 { min-height: 10rem; height: 10rem;}
.min-vh-2-10 { min-height: 20rem; height: 20rem;}
.min-vh-3-10 { min-height: 30rem; height: 30rem;}
.min-vh-4-10 { min-height: 40rem; height: 40rem;}
.min-vh-5-10 { min-height: 50rem; height: 50rem;}
.min-vh-6-10 { min-height: 60rem; height: 60rem; }
.min-vh-7-10 { min-height: 70rem; height: 70rem; }
.min-vh-8-10 { min-height: 80rem; height: 80rem; }
.min-vh-9-10 { min-height: 90rem; height: 90rem; }
.min-vh-10-10 { min-height: 100rem; height: 100rem; }

.min-vh-1-8 { min-height: 12.5rem; }
.min-vh-2-8 { min-height: 25rem; }
.min-vh-3-8 { min-height: 37.5rem; }
.min-vh-4-8 { min-height: 50rem; }
.min-vh-5-8 { min-height: 62.5rem; }
.min-vh-6-8 { min-height: 75rem; }
.min-vh-7-8 { min-height: 87.5rem; }
.min-vh-8-8 { min-height: 100rem; }

.min-vh-1-6 { min-height: 16.6667rem; }
.min-vh-2-6 { min-height: 33.3333rem; }
.min-vh-3-6 { min-height: 50rem; }
.min-vh-4-6 { min-height: 66.6664rem; }
.min-vh-5-6 { min-height: 83.3333rem; }
.min-vh-6-6 { min-height: 100rem; }

.min-vh-1-5 { min-height: 20rem; }
.min-vh-2-5 { min-height: 40rem; }
.min-vh-3-5 { min-height: 60rem; }
.min-vh-4-5 { min-height: 80rem; }
.min-vh-5-5 { min-height: 100rem; }

.min-vh-1-4 { min-height: 25rem; }
.min-vh-2-4 { min-height: 50rem; }
.min-vh-3-4 { min-height: 75rem; }
.min-vh-4-4 { min-height: 100rem; }

.min-vh-1-3 { min-height: 33.3333rem; }
.min-vh-2-3 { min-height: 66.6667rem; }
.min-vh-3-3 { min-height: 100rem; }

.min-vh-1-2 { min-height: 50rem; }
.min-vh-2-2 { min-height: 100rem; }

.min-vh-1-1 { min-height: 100rem; }

/* ====================================== */

.max-vh-1-24 { max-height: 4.1667rem; }
.max-vh-2-24 { max-height: 8.3333rem; }
.max-vh-3-24 { max-height: 12.5rem; }
.max-vh-4-24 { max-height: 16.6667rem; }
.max-vh-5-24 { max-height: 20.8333rem; }
.max-vh-6-24 { max-height: 25rem; }
.max-vh-7-24 { max-height: 29.1667rem; }
.max-vh-8-24 { max-height: 33.3333rem; }
.max-vh-9-24 { max-height: 37.5rem; }
.max-vh-10-24 { max-height: 41.6667rem; }
.max-vh-11-24 { max-height: 45.8333rem; }
.max-vh-12-24 { max-height: 50rem; }
.max-vh-13-24 { max-height: 54.1667rem; }
.max-vh-14-24 { max-height: 58.3333rem; }
.max-vh-15-24 { max-height: 62.5rem; }
.max-vh-16-24 { max-height: 66.6667rem; }
.max-vh-17-24 { max-height: 70.8333rem; }
.max-vh-18-24 { max-height: 75rem; }
.max-vh-19-24 { max-height: 79.1667rem; }
.max-vh-20-24 { max-height: 83.3333rem; }
.max-vh-21-24 { max-height: 87.5rem; }
.max-vh-22-24 { max-height: 91.6667rem; }
.max-vh-23-24 { max-height: 95.8333rem; }
.max-vh-24-24 { max-height: 100rem; }

.max-vh-1-12 { max-height: 8.3333rem; }
.max-vh-2-12 { max-height: 16.6666rem; }
.max-vh-3-12 { max-height: 24.9999rem; }
.max-vh-4-12 { max-height: 33.3332rem; }
.max-vh-5-12 { max-height: 41.6667rem; }
.max-vh-6-12 { max-height: 49.9999rem; }
.max-vh-7-12 { max-height: 58.3333rem; }
.max-vh-8-12 { max-height: 66.6666rem; }
.max-vh-9-12 { max-height: 74.9999rem; }
.max-vh-10-12 { max-height: 83.3333rem; }
.max-vh-11-12 { max-height: 91.6667rem; }
.max-vh-12-12 { max-height: 100rem; }

.max-vh-1-10 { max-height: 10rem; }
.max-vh-2-10 { max-height: 20rem; }
.max-vh-3-10 { max-height: 30rem; }
.max-vh-4-10 { max-height: 40rem; }
.max-vh-5-10 { max-height: 50rem; }
.max-vh-6-10 { max-height: 60rem; }
.max-vh-7-10 { max-height: 70rem; }
.max-vh-8-10 { max-height: 80rem; }
.max-vh-9-10 { max-height: 90rem; }
.max-vh-10-10 { max-height: 100rem; }

.max-vh-1-8 { max-height: 12.5rem; }
.max-vh-2-8 { max-height: 25rem; }
.max-vh-3-8 { max-height: 37.5rem; }
.max-vh-4-8 { max-height: 50rem; }
.max-vh-5-8 { max-height: 62.5rem; }
.max-vh-6-8 { max-height: 75rem; }
.max-vh-7-8 { max-height: 87.5rem; }
.max-vh-8-8 { max-height: 100rem; }

.max-vh-1-6 { max-height: 16.6667rem; }
.max-vh-2-6 { max-height: 33.3333rem; }
.max-vh-3-6 { max-height: 50rem; }
.max-vh-4-6 { max-height: 66.6664rem; }
.max-vh-5-6 { max-height: 83.3333rem; }
.max-vh-6-6 { max-height: 100rem; }

.max-vh-1-5 { max-height: 20rem; }
.max-vh-2-5 { max-height: 40rem; }
.max-vh-3-5 { max-height: 60rem; }
.max-vh-4-5 { max-height: 80rem; }
.max-vh-5-5 { max-height: 100rem; }

.max-vh-1-4 { max-height: 25rem; }
.max-vh-2-4 { max-height: 50rem; }
.max-vh-3-4 { max-height: 75rem; }
.max-vh-4-4 { max-height: 100rem; }

.max-vh-1-3 { max-height: 33.3333rem; }
.max-vh-2-3 { max-height: 66.6667rem; }
.max-vh-3-3 { max-height: 100rem; }

.max-vh-1-2 { max-height: 50rem; }
.max-vh-2-2 { max-height: 100rem; }

.max-vh-1-1 { max-height: 100rem; }

/* ====================================== */

.h-1-24 { height: 4.1667%; }
.h-2-24 { height: 8.3333%; }
.h-3-24 { height: 12.5%; }
.h-4-24 { height: 16.6667%; }
.h-5-24 { height: 20.8333%; }
.h-6-24 { height: 25%; }
.h-7-24 { height: 29.1667%; }
.h-8-24 { height: 33.3333%; }
.h-9-24 { height: 37.5%; }
.h-10-24 { height: 41.6667%; }
.h-11-24 { height: 45.8333%; }
.h-12-24 { height: 50%; }
.h-13-24 { height: 54.1667%; }
.h-14-24 { height: 58.3333%; }
.h-15-24 { height: 62.5%; }
.h-16-24 { height: 66.6667%; }
.h-17-24 { height: 70.8333%; }
.h-18-24 { height: 75%; }
.h-19-24 { height: 79.1667%; }
.h-20-24 { height: 83.3333%; }
.h-21-24 { height: 87.5%; }
.h-22-24 { height: 91.6667%; }
.h-23-24 { height: 95.8333%; }
.h-24-24 { height: 100%; }

.h-1-12 { height: 8.3333%; }
.h-2-12 { height: 16.6666%; }
.h-3-12 { height: 24.9999%; }
.h-4-12 { height: 33.3332%; }
.h-5-12 { height: 41.6667%; }
.h-6-12 { height: 49.9999%; }
.h-7-12 { height: 58.3333%; }
.h-8-12 { height: 66.6666%; }
.h-9-12 { height: 74.9999%; }
.h-10-12 { height: 83.3333%; }
.h-11-12 { height: 91.6667%; }
.h-12-12 { height: 100%; }

.h-1-10 { height: 10%; }
.h-2-10 { height: 20%; }
.h-3-10 { height: 30%; }
.h-4-10 { height: 40%; }
.h-5-10 { height: 50%; }
.h-6-10 { height: 60%; }
.h-7-10 { height: 70%; }
.h-8-10 { height: 80%; }
.h-9-10 { height: 90%; }
.h-10-10 { height: 100%; }

.h-1-8 { height: 12.5%; }
.h-2-8 { height: 25%; }
.h-3-8 { height: 37.5%; }
.h-4-8 { height: 50%; }
.h-5-8 { height: 62.5%; }
.h-6-8 { height: 75%; }
.h-7-8 { height: 87.5%; }
.h-8-8 { height: 100%; }

.h-1-6 { height: 16.6667%; }
.h-2-6 { height: 33.3333%; }
.h-3-6 { height: 50%; }
.h-4-6 { height: 66.6664%; }
.h-5-6 { height: 83.3333%; }
.h-6-6 { height: 100%; }

.h-1-5 { height: 20%; }
.h-2-5 { height: 40%; }
.h-3-5 { height: 60%; }
.h-4-5 { height: 80%; }
.h-5-5 { height: 100%; }

.h-1-4 { height: 25%; }
.h-2-4 { height: 50%; }
.h-3-4 { height: 75%; }
.h-4-4 { height: 100%; }

.h-1-3 { height: 33.3333%; }
.h-2-3 { height: 66.6667%; }
.h-3-3 { height: 100%; }

.h-1-2 { height: 50%; }
.h-2-2 { height: 100%; }

.h-1-1 { height: 100%; }

/* ====================================== */

.min-h-1-24 { min-height: 4.1667%; }
.min-h-2-24 { min-height: 8.3333%; }
.min-h-3-24 { min-height: 12.5%; }
.min-h-4-24 { min-height: 16.6667%; }
.min-h-5-24 { min-height: 20.8333%; }
.min-h-6-24 { min-height: 25%; }
.min-h-7-24 { min-height: 29.1667%; }
.min-h-8-24 { min-height: 33.3333%; }
.min-h-9-24 { min-height: 37.5%; }
.min-h-10-24 { min-height: 41.6667%; }
.min-h-11-24 { min-height: 45.8333%; }
.min-h-12-24 { min-height: 50%; }
.min-h-13-24 { min-height: 54.1667%; }
.min-h-14-24 { min-height: 58.3333%; }
.min-h-15-24 { min-height: 62.5%; }
.min-h-16-24 { min-height: 66.6667%; }
.min-h-17-24 { min-height: 70.8333%; }
.min-h-18-24 { min-height: 75%; }
.min-h-19-24 { min-height: 79.1667%; }
.min-h-20-24 { min-height: 83.3333%; }
.min-h-21-24 { min-height: 87.5%; }
.min-h-22-24 { min-height: 91.6667%; }
.min-h-23-24 { min-height: 95.8333%; }
.min-h-24-24 { min-height: 100%; }

.min-h-1-12 { min-height: 8.3333%; }
.min-h-2-12 { min-height: 16.6666%; }
.min-h-3-12 { min-height: 24.9999%; }
.min-h-4-12 { min-height: 33.3332%; }
.min-h-5-12 { min-height: 41.6667%; }
.min-h-6-12 { min-height: 49.9999%; }
.min-h-7-12 { min-height: 58.3333%; }
.min-h-8-12 { min-height: 66.6666%; }
.min-h-9-12 { min-height: 74.9999%; }
.min-h-10-12 { min-height: 83.3333%; }
.min-h-11-12 { min-height: 91.6667%; }
.min-h-12-12 { min-height: 100%; }

.min-h-1-10 { min-height: 10%; }
.min-h-2-10 { min-height: 20%; }
.min-h-3-10 { min-height: 30%; }
.min-h-4-10 { min-height: 40%; }
.min-h-5-10 { min-height: 50%; }
.min-h-6-10 { min-height: 60%; }
.min-h-7-10 { min-height: 70%; }
.min-h-8-10 { min-height: 80%; }
.min-h-9-10 { min-height: 90%; }
.min-h-10-10 { min-height: 100%; }

.min-h-1-8 { min-height: 12.5%; }
.min-h-2-8 { min-height: 25%; }
.min-h-3-8 { min-height: 37.5%; }
.min-h-4-8 { min-height: 50%; }
.min-h-5-8 { min-height: 62.5%; }
.min-h-6-8 { min-height: 75%; }
.min-h-7-8 { min-height: 87.5%; }
.min-h-8-8 { min-height: 100%; }

.min-h-1-6 { min-height: 16.6667%; }
.min-h-2-6 { min-height: 33.3333%; }
.min-h-3-6 { min-height: 50%; }
.min-h-4-6 { min-height: 66.6664%; }
.min-h-5-6 { min-height: 83.3333%; }
.min-h-6-6 { min-height: 100%; }

.min-h-1-5 { min-height: 20%; }
.min-h-2-5 { min-height: 40%; }
.min-h-3-5 { min-height: 60%; }
.min-h-4-5 { min-height: 80%; }
.min-h-5-5 { min-height: 100%; }

.min-h-1-4 { min-height: 25%; }
.min-h-2-4 { min-height: 50%; }
.min-h-3-4 { min-height: 75%; }
.min-h-4-4 { min-height: 100%; }

.min-h-1-3 { min-height: 33.3333%; }
.min-h-2-3 { min-height: 66.6667%; }
.min-h-3-3 { min-height: 100%; }

.min-h-1-2 { min-height: 50%; }
.min-h-2-2 { min-height: 100%; }

.min-h-1-1 { min-height: 100%; }

/* ====================================== */

.max-h-1-24 { max-height: 4.1667%; }
.max-h-2-24 { max-height: 8.3333%; }
.max-h-3-24 { max-height: 12.5%; }
.max-h-4-24 { max-height: 16.6667%; }
.max-h-5-24 { max-height: 20.8333%; }
.max-h-6-24 { max-height: 25%; }
.max-h-7-24 { max-height: 29.1667%; }
.max-h-8-24 { max-height: 33.3333%; }
.max-h-9-24 { max-height: 37.5%; }
.max-h-10-24 { max-height: 41.6667%; }
.max-h-11-24 { max-height: 45.8333%; }
.max-h-12-24 { max-height: 50%; }
.max-h-13-24 { max-height: 54.1667%; }
.max-h-14-24 { max-height: 58.3333%; }
.max-h-15-24 { max-height: 62.5%; }
.max-h-16-24 { max-height: 66.6667%; }
.max-h-17-24 { max-height: 70.8333%; }
.max-h-18-24 { max-height: 75%; }
.max-h-19-24 { max-height: 79.1667%; }
.max-h-20-24 { max-height: 83.3333%; }
.max-h-21-24 { max-height: 87.5%; }
.max-h-22-24 { max-height: 91.6667%; }
.max-h-23-24 { max-height: 95.8333%; }
.max-h-24-24 { max-height: 100%; }

.max-h-1-12 { max-height: 8.3333%; }
.max-h-2-12 { max-height: 16.6666%; }
.max-h-3-12 { max-height: 24.9999%; }
.max-h-4-12 { max-height: 33.3332%; }
.max-h-5-12 { max-height: 41.6667%; }
.max-h-6-12 { max-height: 49.9999%; }
.max-h-7-12 { max-height: 58.3333%; }
.max-h-8-12 { max-height: 66.6666%; }
.max-h-9-12 { max-height: 74.9999%; }
.max-h-10-12 { max-height: 83.3333%; }
.max-h-11-12 { max-height: 91.6667%; }
.max-h-12-12 { max-height: 100%; }

.max-h-1-10 { max-height: 10%; }
.max-h-2-10 { max-height: 20%; }
.max-h-3-10 { max-height: 30%; }
.max-h-4-10 { max-height: 40%; }
.max-h-5-10 { max-height: 50%; }
.max-h-6-10 { max-height: 60%; }
.max-h-7-10 { max-height: 70%; }
.max-h-8-10 { max-height: 80%; }
.max-h-9-10 { max-height: 90%; }
.max-h-10-10 { max-height: 100%; }

.max-h-1-8 { max-height: 12.5%; }
.max-h-2-8 { max-height: 25%; }
.max-h-3-8 { max-height: 37.5%; }
.max-h-4-8 { max-height: 50%; }
.max-h-5-8 { max-height: 62.5%; }
.max-h-6-8 { max-height: 75%; }
.max-h-7-8 { max-height: 87.5%; }
.max-h-8-8 { max-height: 100%; }

.max-h-1-6 { max-height: 16.6667%; }
.max-h-2-6 { max-height: 33.3333%; }
.max-h-3-6 { max-height: 50%; }
.max-h-4-6 { max-height: 66.6664%; }
.max-h-5-6 { max-height: 83.3333%; }
.max-h-6-6 { max-height: 100%; }

.max-h-1-5 { max-height: 20%; }
.max-h-2-5 { max-height: 40%; }
.max-h-3-5 { max-height: 60%; }
.max-h-4-5 { max-height: 80%; }
.max-h-5-5 { max-height: 100%; }

.max-h-1-4 { max-height: 25%; }
.max-h-2-4 { max-height: 50%; }
.max-h-3-4 { max-height: 75%; }
.max-h-4-4 { max-height: 100%; }

.max-h-1-3 { max-height: 33.3333%; }
.max-h-2-3 { max-height: 66.6667%; }
.max-h-3-3 { max-height: 100%; }

.max-h-1-2 { max-height: 50%; }
.max-h-2-2 { max-height: 100%; }

.max-h-1-1 { max-height: 100%; }