.content {
    width: 100%;
}

.content > .header {
    font-size: 6.5rem; 
}

.content > .body {
    font-size: 3rem;
}

.content > .footer {
    font-size: 2rem;
}

.viewport {
    max-width: 1824px; 
    margin: auto; 
}




#div-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    color: white;
    font-family: 'Arial';
}

#div-menu > div {
    position: relative;
    background-color: #171B1F;
    transition: 0.3s height;
    height: 10rem;
}

#div-menu erv-burger {
    transition: 0.3s top;
    position: absolute;
    z-index: 3;
    top: 1.6rem;
    left: 1rem;
}

#div-menu .counter-menu {
    height: 10rem; display: flex; 
    width: 30rem; 
    position: absolute;
    right: 0;
}

#div-menu .counter-menu > div {
    width: 10rem; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 4rem;
}

#div-menu .content {
    position: absolute; 
    background-color: #171B1F; 
    max-width: 380px;
    /*transition: 0.3s left;*/
    /*left: 0;*/
    transition: transform .3s,opacity .3s,visibility .3s;
}

#div-menu .hide {
    /*left: -100%;*/
    /*opacity: 0;
    visibility: hidden;*/
    /*transform: translate3d(-100%, 0 ,0);*/
    transform: translateX(-100%);
    
}

#div-menu .header {
    padding-left: 1.6rem;
    font-size: 6rem; 
}

#div-menu label[data-slide] {
    display: block;
    padding-left: 1.6rem;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.3s;
}

#div-menu label[data-slide]:hover {
    background-color: red;
}

#div-menu label[data-slide]:active {
    background-color: var(--red);
}

#div-menu label[data-slide] div {
    display: flex;
    align-items: center;
    width: 100%; 
    height: 100%;
}

#div-menu label[data-slide] div p {
    flex-grow: 1;
}

#div-menu label[data-slide] div a {
    width: 10rem;
    display: flex;
    justify-content: center;
}

#div-menu .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}