#div-menu .hide {
    /*left: 0;*/
    /*opacity: unset;
    visibility: unset;*/
    /*transform: translate3d(0, 0 ,0);*/
    transform: translateX(0);
}

#div-menu > div {
    height: 0;
}

#div-menu erv-burger {
    top: -10rem;
}