#div-home .circulos > div:hover {
    background-color: #6e6e72;
}

#div-home .fondo-home {
    left: 0;
}

#div-home .header {
    margin-left: 5rem;
    margin-right: 5rem;
}

#div-home .body {
    margin-left: 5rem;
    margin-right: 5rem;  
}