*, *::after, *::before {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #272829;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

main, section {
    display: block;
}